$scss-prefix: 'cap-ui' !default;

$darkest-color: #000000 !default;

$theme-color-1: #ffbb16;
$theme-color-2: #b90000;
$theme-color-3: #b90000;

$primary-color-1: #47b4d0 !default;
$primary-color-2: #0094cd !default;
$primary-color-3: #0076a4 !default;
$primary-color-4: #002c3d !default;

$secondary-color-1: #ffffff !default;
$secondary-color-2: #f5f2ed !default;
$secondary-color-3: #e1ddd0 !default;
$secondary-color-4: #aba195 !default;
$secondary-color-5: #4c4c4c !default;
$secondary-color-6: #2c3e50 !default;
$secondary-color-7: #eee !default;

$base-fontfamily: 'Montserrat', sans-serif !default;
$secondary-fontfamily: 'Mulish' !default;

$ml-1: 5px !default;
$ml-2: 10px !default;

$spacing1: 120px !default;
$spacing2: 80px !default;
$spacing3: 60px !default;
$spacing4: 40px !default;
$spacing5: 30px !default;
$spacing6: 20px !default;
$spacing7: 15px !default;
$spacing8: 10px !default;

$p-1: 5px !default;
$p-2: 10px !default;
$p-3: 15px !default;
$p-4: 20px !default;

$navbar-shadow: 0 9px 16px 0 rgba($darkest-color, 0.08) !default;

:export {
  scssPrefix: $scss-prefix;
}