@mixin card {
  border-radius: 6px;
  background-color: $secondary-color-1;
  box-shadow: 0 0 0 1px #e1ddd0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: $p-4;
  transition: ease-in-out 0.1s border;
  border: 2px solid transparent;

  @content;

  &.bordered:hover,
  &.bordered:focus {
    border: 2px solid $primary-color-2;
    box-shadow: none;
    .footer {
      color: $primary-color-2;
    }
  }
  &.bordered:focus-visible {
    outline: none;
  }

  &.image {
    border-radius: 10px;
    max-height: 200px;
  }

  .card-body {
    margin-top: 1rem;
  }

  &.fluid {
    width: 100%;
  }

  &.clickable {
    cursor: pointer;
  }

  &.nopadding {
    padding: 0;
    .card-body {
      margin-top: 0;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

.#{$scss-prefix} {
  &.cap-card {
    @include card;
  }

  &.cap-card-medium {
    @include card {
      width: 347px;
      min-height: 244px;
      min-width: 347px;
    }
  }

  &.cap-card-small {
    @include card {
      width: 270px;
      min-height: 168px;
      min-width: 270px;
    }
  }
}
