@mixin card {
  border-radius: 6px;
  background-color: $secondary-color-1;
  border: 1px solid $secondary-color-3;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: $p-4;
  transition: ease-in-out 0.3s border-color, box-shadow;
  box-sizing: border-box;
  @content;
  &.bordered {
    border: 1px solid transparent;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      height: calc(100% + 2px);
      width: calc(100% + 2px);
      top: -1px;
      left: -1px;
      border: 1px solid $secondary-color-3;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }
  &.bordered:hover,
  &.bordered:focus {
    box-shadow: 0px 2px 5px rgba(0, 148, 205, 0.2), 0px 15px 45px rgba(0, 0, 0, 0.15);
    &::before {
      border-color: $primary-color-2;
      border-width: 2px;
    }
    .footer {
      color: $primary-color-2;
    }
  }
  &.bordered:focus-visible {
    outline: none;
  }

  &.image {
    border-radius: 10px;
    max-height: 200px;
  }

  .card-body {
    margin-top: 1rem;
  }

  &.fluid {
    width: 100%;
  }

  &.clickable {
    cursor: pointer;
  }

  &.nopadding {
    padding: 0;
    .card-body {
      margin-top: 0;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

.#{$scss-prefix} {
  &.cap-card {
    @include card;
  }

  &.cap-card-medium {
    width: 347px;
    min-height: 244px;
    min-width: 347px;
  }

  &.cap-card-small {
    width: 270px;
    min-height: 168px;
    min-width: 270px;
  }
}
