.#{$scss-prefix} {
  &.cap-carousel {
    position: relative;
    .carousel-items-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      .backdrop {
        z-index: 2;
      }
      &::before,
      &::after,
      .backdrop {
        position: absolute;
        height: 100%;
        background-color: $secondary-color-1;
        box-shadow: 0 10px 40px 0 rgba(0,0,0,0.12);
        border-radius: 6px;
      }
      &::before,
      &::after,
      .backdrop {
        content: '';
        min-height: 200px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &::before {
        width: 95%;
        bottom: -12px;
        z-index: 1;
      }
      &::after {
        width: 85%;
        bottom: -24px;
      }
    }
    .carousel-item {
      z-index: 3;
      opacity: 0;
      border-radius: 6px;
      background-color: $secondary-color-1;
      box-shadow: 0 10px 40px 0 rgba(0,0,0,0.12);
      padding: $spacing6 $spacing5 50px;
      transform: translateX(150px);
      transition: all 0.5s ease-in-out;
      &.active {
        opacity: 1;
        transform: translateX(0px);
        z-index: 4;
      }
      img {
        height: 86px;
        filter: grayscale(100%);
        opacity: 0.7;
        margin-bottom: $spacing8;
      }
      .subtitle-2 {
        color: #821A74;
        margin-bottom: $spacing8;
        @include forMobile() {
          margin-bottom: 5px;
          font-size: .625rem;
          line-height: .75rem;
          letter-spacing: .8px;
        }
      }
      .lead-text {
        font-size: 1.5rem; 
        @include forMobile() {
          font-size:  1.25rem;
        }
      }
    }
    .carousel-indicators {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      width: 100%;
      z-index: 9;
      @include forMobile() {
        margin-bottom: -$spacing6;
      }
      > * + * {
        margin-left: 15px;
        @include forMobile() {
          margin-left: $spacing6;
        }
      }
      .circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgba($color: $secondary-color-1, $alpha: 0.5);
        cursor: pointer;
        &.active {
          background-color: $secondary-color-1;
        }
        @include forMobile() {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}