.#{$scss-prefix} {
  &.cap-collapse {
    border-radius: 6px;
    border: 1px solid #ebe7de;
    .collapse-header-wrapper {
      background: #ebe7de;
      padding: 26px 30px;
      .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .collapse-icon {
          transition: transform 0.2s ease;
          color: $primary-color-2;
        }
      }
    }
    .collapse-content {
      padding: 0 30px;
      overflow: hidden;
      background-color: $secondary-color-2;
    }
    &.shown {
      .collapse-icon {
        transform: rotate(180deg);
      }
      .collapse-header-wrapper {
        background-color: $secondary-color-2;
      }
    }
    .collapse-enter-active,
    .collapse-leave-active {
      will-change: height;
      transition: height 0.2s ease;
    }
    .collapse-enter,
    .collapse-leave-to {
      height: 0 !important;
    }
  }
}