.#{$scss-prefix} {
  &.cap-dialog-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    .success-icon,
    .error-icon {
      height: 100px;
      width: 100px;
    }
    .cap-model-inner.md {
      @include forMobile {
        max-width: 90%;
        margin-top: 0px;
      }
    }
    .dialog-close-button {
      @include forMobile() {
        padding: 18px 30px;
        font-size: 15px;
        line-height: 15px;
        height: 50px;
      }
    }
    .modal-success-msg,
    .modal-error-msg {
      padding: $spacing2 $spacing4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heading {
        color: $primary-color-4;
        margin: 40px auto 10px auto;
        @include forMobile() {
          font-size: $font-size-7;
          line-height: $line-height-8;
        }
      }
      .message {
        text-align: center;
        font-weight: 200;
        margin-bottom: 40px;
        color: rgba($darkest-color, 0.8);
        @include forMobile() {
          font-size: $font-size-10;
          line-height: $line-height-9;
        }
      }
    }
    .modal-success-msg {
      .success-icon {
        fill: $primary-color-2;
      }
    }
    .modal-error-msg {
      .error-icon {
        fill: $theme-color-3;
      }
    }
  }
}
