@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-size-1: 90px !default;
$font-size-2: 72px !default;
$font-size-3: 60px !default;
$font-size-4: 50px !default;
$font-size-5: 42px !default;
$font-size-6: 32px !default;
$font-size-7: 28px !default;
$font-size-8: 24px !default;
$font-size-9: 20px !default;
$font-size-10: 18px !default;
$font-size-11: 16px !default;
$font-size-12: 13px !default;
$font-size-13: 12px !default;
$font-size-14: 10px !default;

$line-height-1: 90px !default;
$line-height-2: 72px !default;
$line-height-3: 60px !default;
$line-height-4: 56px !default;
$line-height-5: 48px !default;
$line-height-6: 44px !default;
$line-height-7: 36px !default;
$line-height-8: 32px !default;
$line-height-9: 28px !default;
$line-height-10: 24px !default;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
$line-height-11: 20px !default;
$line-height-12: 18px !default;
$line-height-13: 16px !default;
$line-height-14: 12px !default;
$line-height-15: 63px !default;

$font-thin: 100 !default;
$font-normal: 300 !default;
$font-medium: 500 !default;
$font-bold: 700 !default;

// font sizes new
$font-size-h1: 72px !default;
$font-size-h2: 52px !default;
$font-size-h3: 42px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;
$font-size-h7: 12px !default;
$font-size-lead: 24px !default;
$font-size-para: 20px !default;
$font-size-quote: 90px !default;
// small
$font-size-h1-small: 42px !default;
$font-size-h2-small: 32px !default;
$font-size-h3-small: 28px !default;
$font-size-h4-small: 20px !default;
$font-size-h5-small: 18px !default;
$font-size-h6-small: 12px !default;
$font-size-h7-small: 10px !default;
$font-size-lead-small: 20px !default;
$font-size-para-small: 18px !default;
$font-size-quote-small: 60px !default;

// line heights new
$line-height-h1: 72px !default;
$line-height-h2: 56px !default;
$line-height-h3: 48px !default;
$line-height-h4: 32px !default;
$line-height-h5: 28px !default;
$line-height-h6: 20px !default;
$line-height-h7: 16px !default;
$line-height-lead: 44px !default;
$line-height-para: 32px !default;
$line-height-quote: 90px !default;
// small
$line-height-h1-small: 42px !default;
$line-height-h2-small: 36px !default;
$line-height-h3-small: 32px !default;
$line-height-h4-small: 28px !default;
$line-height-h5-small: 24px !default;
$line-height-h6-small: 16px !default;
$line-height-h7-small: 12px !default;
$line-height-lead-small: 36px !default;
$line-height-para-small: 28px !default;
$line-height-quote-small: 60px !default;

// letter spacing
$letter-spacing-1: 2px !default;
$letter-spacing-2: 1px !default;