.#{$scss-prefix} {
  &.cap-footer {
    padding: 120px 0 60px 0;
    background-color: rgba($darkest-color, 0.9);
    &-primary {
      .icon {
        color: $primary-color-2;
      }
      .link,
      .link.inline-link {
        &:hover,
        &:focus,
        &:active,
        &.active,
        &.router-link-exact-active {
          border-bottom: 2px solid $primary-color-2;
        }
      }
    }
    &-secondary {
      .icon {
        color: #821a74;
      }
      .link,
      .link.inline-link {
        &:hover,
        &:focus,
        &:active,
        &.active,
        &.router-link-exact-active  {
          border-bottom: 2px solid #821a74;
        }
      }
      .cap-footer-list {
        @include forMobile {
          &.contact {
            .list {
              .cap-footer-list-item {
                &:hover,
                &:active,
                &.active,
                &:focus {
                  border-color: #821a74;
                  box-shadow: 0 0px 0px 1px #821a74;
                }
              }
            }
          }
        }
      }
    }
    .link {
      color: $secondary-color-1;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;
      &.inline-link {
        border-bottom: 2px solid rgba($secondary-color-1, 0.2);
      }
      &:hover,
      &:focus,
      &:active,
      &.active,
      &.router-link-exact-active {
        text-decoration: none;
      }
      &::after,
      &::before {
        display: none;
      }
    }
    .icon {
      min-width: 20px;
      margin-right: $spacing8;
      margin-top: 2px;
    }
    .cap-footer-info {
      grid-column: 1/span 5;
      margin-bottom: $spacing7;
      .footer-logo {
        margin-bottom: $spacing4;
      }
      .footer-lead-text {
        color: rgba($secondary-color-1, 0.5);
        a {
          color: $secondary-color-1;
          margin: 0;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
    .footer-trademark {
      grid-column: span 12;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .trademark-text {
        color: $secondary-color-1;
        .link {
          font-weight: 700;
        }
      }
    }
    @include forLaptop() {
      .cap-footer-info {
        grid-column: span 12;
        margin-bottom: $spacing3;
      }
      .cap-footer-list {
        grid-column: span 6;
      }
    }
    @include forIpadPro {
      .cap-footer-info {
        margin-bottom: $spacing4;
      }
      .cap-seprator {
        margin: $spacing4 0;
      }
    }
    @include forMobile {
      .footer-trademark {
        flex-direction: column;
        align-items: flex-start;
        .trademark-text {
          font-size: .625rem;
          line-height: .75rem;
          &:last-child {
            margin-top: 10px;
            a {
              font-weight: 400;
            }
          }
        }
      }
      .cap-footer-list {
        grid-column: span 12;
      }
    }
  }
}
