.#{$scss-prefix} {
  &.cap-footer-list {
    grid-column: span 3;
    padding-bottom: 50px;
    .list-title {
      color: #fff;
      margin-top: $spacing6;
      position: relative;
      &::before {
        content: "";
        width: 18px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: -20px;
        left: 0;
      }
    }
    .list {
      padding-top: 30px;
      padding-left: 0px;
      list-style: none;
      margin: 0;
    }
    @include forMobile {
      padding-bottom: 40px;
      &.contact {
        padding: 0px;
        .list-title {
          display: none;
        }
        .list {
          padding: 0px;
          display: flex;
          .cap-footer-list-item {
            margin-right: 20px;
            margin-bottom: 0px;
            border: 1px solid $secondary-color-5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s ease-in-out;
            height: 50px;
            width: 50px;
            position: relative;
            .icon {
              z-index: 1;
              position: absolute;
              margin: 0;
              color: $secondary-color-1;
            }
            &:hover,
            &:active,
            &.active,
            &:focus {
              border-color: $primary-color-2;
              box-shadow: 0 0px 0px 1px $primary-color-2;
            }
            &:last-child {
              margin-right: 0px;
            }
          }
          a {
            height: 50px;
            width: 50px;
            z-index: 3;
            .text {
              display: none;
            }
            .icon {
              margin: 0;
              color: $secondary-color-1;
            }
            &:hover,
            &:active,
            &.active,
            &:focus {
              text-decoration: none;
              border: none;
            }
          }
        }
      }
    }
  }
}
