.#{$scss-prefix} {
  &.cap-footer {
    padding: 120px 0 60px 0;
    &-primary {
      background-color: $primary-color-4;
      .icon {
        color: $secondary-color-1;
      }
    }
    &-secondary {
      background-color: rgba($darkest-color, 0.9);
      .icon {
        color: #821a74;
      }
    }
    .link {
      color: $secondary-color-1;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: rgba($secondary-color-1, 0.5);
      }
    }
    .icon {
      min-width: 20px;
      margin-right: $spacing8;
      margin-top: 2px;
    }
    .cap-footer-info {
      grid-column: 1/span 5;
      margin-bottom: $spacing7;
      .footer-logo {
        margin-bottom: $spacing4;
      }
      .footer-lead-text {
        color: rgba($secondary-color-1, 0.5);
        a {
          color: $secondary-color-1;
          margin: 0;
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          padding-bottom: 3px;
          &:hover {
            border-bottom: 2px solid rgba($secondary-color-1, 0.1);
            color: rgba($secondary-color-1, 0.5);
          }
        }
      }
    }
    .footer-trademark {
      grid-column: span 12;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .trademark-text {
        color: $secondary-color-1;
        .link {
          font-weight: 700;
        }
      }
    }
    @include forLaptop() {
      .cap-footer-info {
        grid-column: span 12;
        margin-bottom: $spacing3;
      }
      .cap-footer-list {
        grid-column: span 6;
      }
    }
    @include forIpadPro {
      .cap-footer-info {
        margin-bottom: $spacing4;
      }
      .cap-seprator {
        margin: $spacing4 0;
      }
    }
    @include forMobile {
      .footer-trademark {
        flex-direction: column;
        align-items: flex-start;
        .trademark-text {
          font-size: .625rem;
          line-height: .75rem;
          &:last-child {
            margin-top: 10px;
            a {
              color: rgba($secondary-color-1, 0.5);
              font-weight: 400;
            }
          }
        }
      }
      .cap-footer-list {
        grid-column: span 12;
      }
    }
  }
}
