.#{$scss-prefix} {
  &.cap-input {
    font-family: $base-fontfamily;
    font-weight: 300;
    
    .cap-input-container {
      display: flex;
      align-items: center;
      border-radius: 6px;
      background-color: $secondary-color-1;
      box-shadow: 0 0 0 1px $secondary-color-3;
      z-index: 1;
      position: relative;
      padding: 0.2rem 1rem;
  
      &:focus-within {
        box-shadow: 0 0 0 2px $primary-color-2, 0 4px 12px 0 rgba($primary-color-2, 0.2), 0 17px 47px 0 rgba($darkest-color, 0.15);
  
        .icon {
          color: $primary-color-2;
        }
      }
  
      &.large {
        height: 60px;
        input {
          font-size: $font-size-10;
          line-height: $line-height-9;
        }
      }
      &.medium {
        height: 50px;
        input {
          font-size: $font-size-11;
          line-height: $line-height-10;
        }
      }
      &.small {
        height: 40px;
        input {
          font-size: 14px;
          line-height: $line-height-11;
        }
      }
      &.rounded {
        border-radius: 30px;
      }
      &.disabled {
        cursor: not-allowed;
        box-shadow: none;
        border: 1px solid $secondary-color-3;
  
        .icon {
          color: $secondary-color-3;
        }
      }
      .input-field {
        outline: none;
  
        &:disabled {
          background-color: transparent;
        }
        
      }
  
      input {
        font-family: $base-fontfamily;
        padding: 1px 2px;
        border:none;
        display: flex;
        flex-grow: 1;
        height: 100%;
        background: transparent;
  
        &::placeholder {
          color: $secondary-color-4;
          font-weight: normal;
          font-size: 1.1em;
        }
      }
  
    }
  }
}
