.#{$scss-prefix} {
  &.cap-input {
    font-family: $base-fontfamily;
    font-weight: 300;

    &.cap-floating-label-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: $p-4;
      font-family: $secondary-fontfamily;
      &.has-error {
        .floating-input-label {
        top: 24%;
        &.active {
          @include forMobile() {
            top: 16%;
            font-size: 11px;
            line-height: $line-height-14;
          }
        }

        }
        }
      .floating-input-label {
        display: block;
        width: 30%;
        font-size: $font-size-10;
        line-height: $line-height-9;
        color: $darkest-color;
        font-weight: 700;
        @include forMobile() {
          display: block;
          position: absolute;
          left: 16px;
          z-index: 1;
          width: max-content;
          transition: all 0.1s ease-in-out;
          font-size: .9375rem;
          line-height: .9375rem;
          font-weight: 400;
          color: $secondary-color-4;
        }
        &.active {
          @include forMobile() {
            top: 22%;
            font-size: 11px;
            line-height: $line-height-14;
          }
        }
      }

      .floating-label-input {
        width: 65%;
        &.has-value {
          .cap-input-container {
            input {
              @include forMobile() {
                padding: $spacing5 0px 17px 0px;
                font-size: .9375rem;
                line-height: .9375rem;
                font-weight: 400;
              }
            }
          }

        }
        .cap-input-container {
          @include forMobile() {
            background-color: transparent;
          }
          input {
            font-size: $font-size-10;
            line-height: $line-height-11;
            font-family: $secondary-fontfamily;
            padding: 0px;
            @include forMobile() {
              &:focus-within,
              &.value,
              &.prefiled {
                padding: $spacing5 0px 17px 0px;
                font-size: .9375rem;
                line-height: .9375rem;
                font-weight: 400;
              }
            }
            &::placeholder {
              @include forMobile(){
                color: transparent;
              }
            }
          }
        }
        @include forMobile() {
          width: 100%;
          background-color: white;
          border-radius: 6px;
        }
      }
    }
    
    .cap-input-container {
      display: flex;
      align-items: center;
      border-radius: 6px;
      background-color: $secondary-color-1;
      box-shadow: 0 0 0 1px $secondary-color-3;
      z-index: 1;
      position: relative;
      padding: 0 1.25rem;
      input {
        padding: 0px;
      }
      &:focus-within {
        box-shadow: 0 0 0 2px $primary-color-2, 0 4px 12px 0 rgba($primary-color-2, 0.2), 0 17px 47px 0 rgba($darkest-color, 0.15);
  
        .icon {
          color: $primary-color-2;
        }
      }
  
      &.large {
        height: 60px;
        input {
          font-size: $font-size-10;
          line-height: $line-height-9;
        }
      }
      &.medium {
        height: 50px;
        input {
          font-size: $font-size-11;
          line-height: $line-height-10;
        }
      }
      &.small {
        height: 40px;
        input {
          font-size: 14px;
          line-height: $line-height-11;
        }
      }
      &.rounded {
        border-radius: 30px;
      }
      &.disabled {
        cursor: not-allowed;
        box-shadow: none;
        border: 1px solid $secondary-color-3;
  
        .icon {
          color: $secondary-color-3;
        }
      }
      .input-field {
        outline: none;
  
        &:disabled {
          background-color: transparent;
        }
        
      }
  
      input {
        font-family: $secondary-fontfamily;
        // padding: 0px 6px;
        border:none;
        display: flex;
        flex-grow: 1;
        height: 100%;
        background: transparent;
        @include forMobile() {
          font-size: 14px !important; 
        }
  
        &::placeholder {
          color: $secondary-color-4;
          font-weight: normal;
          font-size: 1.1em;
        }
        &:disabled {
          cursor: not-allowed;
        }
      }
  
    }
    &.has-error {
      .cap-input-label-container {
        box-shadow: 0 0 0 1px $theme-color-2;
        &:focus-within {
          box-shadow: 0 0 0 1px $theme-color-2;
        }
      }
      .cap-input-container {
        box-shadow: 0 0 0 1px $theme-color-2;
      }
      .error {
        color: $theme-color-2;
        font-size: $font-size-11;
        font-weight: normal;
        line-height: $line-height-11;
        margin-top: 5px;
        font-family: $secondary-fontfamily;
      }
    }
  }
}
