@mixin modal-mobile-view {
	max-width: 100%;
	margin: 110px 0 0 0;
	.cap-model-header {
		.icon-circle {
			top: -70px;
			left: 0;
			right: 0;
			margin: auto;
			background-color: $secondary-color-1;
			height: 50px;
			width: 50px;
		}
	}
}
.#{$scss-prefix} {
	&.cap-modal {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000000;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		background: rgba($secondary-color-2, 0.9);
		overflow-y: auto;
		&.modal-hide {
			display: none;
		}
	
		&.modal-show {
			display: flex;
		}
	
		.cap-model-inner {
			position: relative;
			background-color: $secondary-color-1;
			box-shadow: 0 3px 10px 0 rgba($darkest-color, 0.08);
			display: flex;
			flex-direction: column;
			margin: 5% 1rem;
			border-radius: 6px;
			border: 1px solid $secondary-color-3;
			overflow-y: visible;
			width: 100%;
			&.lg {
				max-width: 80ch;
				.cap-model-header {
					.icon-circle {
						width: 50px;
						height: 50px;
						.close-icon {
							border: 2px solid transparent;
							font-size: 20px;
						}
					}
				}
			}
			&.md {
				max-width: 60%;
				.cap-model-header {
					.icon-circle {
						width: 40px;
						height: 40px;
						.close-icon {
							border: 2px solid transparent;
							font-size: 18px;
						}
					}
				}
	
				@include forIpadPro() {
					max-width: 70%;
				}
			}
			&.sm {
				max-width: 300px;
				.cap-model-header {
					.icon-circle {
						width: 30px;
						height: 30px;
						.close-icon {
							border:none;
							font-size: 16px;
						}
					}
				}
	
				@include forSmall() {
					@include modal-mobile-view;
				}
			}

			&.lg,
			&.md {
				@include forMobile() {
					@include modal-mobile-view;
				}
			}
	
			.cap-model-header {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0.6rem 1rem;

				.icon-circle {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					right: 8px;
					top: 8px;
					background-color: $secondary-color-2;
					color: $secondary-color-4;
					border: 2px solid $secondary-color-2;
					border-radius: 100%;
					cursor: pointer;
					&:hover {
						border: 2px solid $primary-color-2;
						background-color: $secondary-color-1;
						box-shadow: 0 2px 5px 0 rgba($darkest-color, 0.05), 0 15px 45px 0 rgba($darkest-color, 0.15);
						.close-icon {
							color: $primary-color-2;
						}
					}					
					.close-icon {
						color: $secondary-color-4;
						border: none;
					}
				}
			}
			.cap-model-body {
				padding: 0px 1rem 1rem 1rem;
			}
		}
	}	
}
body.cap-modal-open {
	overflow-y: hidden;
}