.#{$scss-prefix} {
  &.cap-multi-select {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  
    button {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $secondary-color-3;
      box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
      border-radius: 6px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      background-color: $secondary-color-1;
  
      &.large {
        padding: $spacing6;
      }
      &.medium {
        padding: $spacing7 $spacing6;
      }
      &.small {
        padding: $spacing8 $spacing6;
      }
      &:focus {
        border: 1px solid $primary-color-2;
        box-shadow: 0 0 0 1px $primary-color-2, 0 5px 12px 0 rgba(0,0,0,0.08);
  
        @include forMobile() {
          box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
          border: 1px solid $primary-color-2;
        }
      }
      @include forMobile() {
        padding: $spacing5 $spacing6 14px $spacing6;
      }
  
      .label {
        display: flex;
        flex-wrap: wrap;
  
        .select-item {
          padding: 4px 10px;
          border-radius: 18px;
          background-color: $secondary-color-4;
          margin: 0 5px 5px 0;
          display: flex;
          align-items: center;
  
          .cross-icon {
            margin-left: 4px;
            cursor: pointer;
  
            &:hover {
              color: $primary-color-3;
            }
          }
        }
  
        @include forMobile() {
          display: initial;
          position: absolute;
          font-size: 12px;
          line-height: 12px;
          top: 14px;
          left: $spacing6;
          z-index: 1;
          width: max-content;
          margin-bottom: 5px;
          color: $secondary-color-4;
        }
      }
  
      .text {
        font-size: 1rem;
        line-height: 1rem;
        width: 100%;
        text-align: left;
        outline: none;
        border: none;
  
        &.chosen {
          color: $primary-color-4;
        }
  
        @include forMobile() {
          font-size: 15px;
          line-height: 15px;
          margin-top: -6px;
          padding-bottom: 6px;
  
          &.chosen {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
  
      .icon {
        color: $primary-color-2 !important;
        font-size: 20px !important;
        line-height: 20px !important;
        
        @include forMobile() {
          margin-top: -12px;
        }
      }
    }
  
    ul {
      all: unset;
      display: flex;
      flex-direction: column;
      position: absolute;
      border: 2px solid $primary-color-2;
      background-color: $secondary-color-1;
      width: calc(100% - 4px);
      border-radius: 6px;
      margin-bottom: $spacing4;
      background-color: $secondary-color-1 !important;
      z-index: 1005;
      box-shadow: 0 2px 5px 0 rgba(0,148,205,0.2), 0 15px 45px 0 rgba(0,0,0,0.15);
      margin-top: 5px;
  
      @include forMobile() {
        border: 1px solid $primary-color-2;
        width: calc(100% - 2px);
      }
      
      li {
        all: unset;
        padding: $spacing6;
        color: $primary-color-4;
        font-size: 1rem;
        line-height: 1rem;
        font-weight: normal;
        cursor: pointer;
  
        
        &.selected {
          color: $darkest-color;
          background-color: rgba(245,242,237,0.5);
        }
  
        @include forMobile() {
          font-size: 15px;
          line-height: 15px;
          padding: 15px $spacing6;
        }
  
        &:hover {
          background-color: rgba(245,242,237,0.5);
        }
  
        &:nth-child(1) {
          cursor: auto;
          color: $secondary-color-4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 6px;
          font-weight: normal;
          padding: 0;
          padding-left: $spacing6;
  
          .icon {
            color: $primary-color-2 !important;
            font-size: 20px !important;
            line-height: 20px !important;
            margin-right: 1px;
            cursor: pointer;
            padding: $spacing6;
  
            @include forMobile() {
              padding: 15px $spacing6;
            }
          }
  
          &:hover {
            background-color: $secondary-color-1;
          }
        }
      }
    }
  }
}