.#{$scss-prefix} {
  &.cap-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100001;
    transition: all .1s ease-in-out;
    transition: top 0.2s ease-in-out;
    &.shadow {
      box-shadow: $navbar-shadow;
      background-color: $secondary-color-1;
      z-index: 999999;
    }
    &.down {
      top: -100px;
    }
    nav {
      grid-column: 1/-1;
      display: flex;
      align-items: center;
      padding: 20px 0;
      .cap-navbar-brand {
        img {
          max-width: 100%;
        }
      }
      .cap-navbar-nav {
        margin-left: auto;
      }
      .cap-navbar-links {
        all: unset;
        font-family: $secondary-fontfamily;
        list-style-type: none;
        margin-left: auto;
        display: flex;
        align-items: center;
      }
      .toggle-btn {
        display: none;
        .toggle-icon {
          cursor: pointer;
        }
      }
      .nav-btn {
        font-size: 16px;
        line-height: 18px;
      }
      .cap-navbar-contact {
        display: flex;
        align-items: center;
        align-self: center;
        padding: 0;
        margin: 0 0 40px 0;
        list-style-type: none;
        justify-content: center;
      }
    }
    &.collapse {
      box-shadow: 0 3px 10px 0 rgba($darkest-color, 0.08);
      background-color: $secondary-color-1;
      .cap-container {
        margin: 0;
        padding: 0 5%;
        @include forMobile {
          padding: 0 $p-4;
        }
      }
      .toggle-btn {
        display: flex;
        align-items: center;
      }
      nav {
        padding-bottom: 0px;
        flex-direction: column;
        .cap-nav-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 20px;
        }
        .cap-navbar-nav {
          overflow: hidden;
          max-height: 0;
          transition: all .3s ease-in-out;
          box-shadow: inset 0 4px 0 0 $secondary-color-2;
          width: 100%;
          text-align: center;
          margin: 0;
        }
        .cap-navbar-links {
          flex-direction: column;
        }
        .nav-btn {
          margin-bottom: 30px;
          font-size: 18px;
          line-height: 24px;
          padding: 0;
          height: fit-content;
          border: none;
          box-shadow: none;
          font-weight: normal;
          color: $darkest-color;
          padding: 3px 0;
          border-bottom: 2px solid transparent;
          border-radius: 0px;
          &.router-link-exact-active,
          &.active {
            color: $primary-color-3;
            border-bottom-color: $primary-color-3;
            &:hover {
              border-bottom-color: $primary-color-3;
            }
          }
          &:hover {
            border-bottom-color: $secondary-color-3;
          }
          &:hover,
          &:active,
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
        &.open {
          .cap-navbar-nav {
            max-height: 100%;
          }
        }
      }
    }
    @media (max-width: 1560px) {
      .cap-container {
        margin: 0 30px;
      }
    }
    @media (max-width: 1200px) {
      nav {
        .nav-btn {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
    @media (max-width: 1100px) {
      nav {
        .nav-btn {
          height: 45px;
          padding: 0 25px;
          font-size: 14px;
        }
      }
      .cap-navbar-brand {
        max-width: 130px;
      }
    }
  }
}
