.#{$scss-prefix} {
	&.cap-search-dropdown{
		position: relative;
		z-index: 10;
		font-family: $secondary-fontfamily;
		font-weight: 300;
	
		@include forMobile() {
			width: 100%;
		}
		.searchable-select {
			&.rounded {
				.select-container {
					border-radius: 30px;
				}
				ul {
					border-top-left-radius: 30px;
					border-top-right-radius: 30px;
				}
			}
		}
		.select-container {
			display: flex;
			align-items: center;
			border-radius: 6px;
			padding:  0 $spacing6;
			box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
			background-color: $secondary-color-1;
			border: 1px solid $secondary-color-3;
			height: 60px;
			box-sizing: border-box;
			&:focus-within,
			&.active {
				border-color: $primary-color-2;
        box-shadow: inset 0 0 0 1px $primary-color-2, 0 2px 5px 0 rgba(0,148,205,0.2), 0 15px 45px 0 rgba(0,0,0,0.15);
			}
			.prepend,
			.append {
				display: flex;
				align-items: center;		
			}
			.prepend {
				margin-right: 15px;
			}
			.append {
				margin-left: 15px;
			}
			.icon {
				color: $primary-color-2 !important;
				&.remove-icon {
					cursor: pointer;
				}
			}	
			.input {
				width: 100%;
				height: auto;
				border: none;
				background-color: transparent;
				height: 100%;
				font-size: $font-size-10;
				font-family: $secondary-fontfamily;
				color: $primary-color-4;
				font-weight: 500;
				padding: 0px;
				@include forMobile() {
					font-size: $font-size-11;
				}
				&::placeholder {
					color: $secondary-color-4;
					font-family: $secondary-fontfamily;
					font-weight: normal;
				}
	
				&:focus {
					outline: none;
				}
			}
		}
	
		&.error {
			.input {
				box-shadow: 0 0 0 1px $theme-color-2 !important;
	
				@include forMobile() {
					box-shadow: none !important;
					border: 1px solid $theme-color-2 !important;
				}
			}
		}
		ul {
			all: unset;
			display: flex;
			flex-direction: column;
			position: absolute;
			border: 1px solid $secondary-color-3;
			box-sizing: border-box;
      background-color: $secondary-color-1;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
			border-radius: 6px;
      margin-bottom: $spacing4;
      margin-top: -15px;
      padding-top: 15px;
			width: 100%;
      overflow-y: auto;
      z-index: -1;
			&.scrollable {
				max-height: 385px;
				overflow-y: auto;
			}
			li {
				all: unset;
				padding: $spacing6;
				color: $primary-color-4;
				font-size: rem(18px);
				line-height: rem(20px);
				font-weight: normal;
				cursor: pointer;
				&.option {
          color: $darkest-color;
          background-color: rgba($secondary-color-2, 0.5);
        }
		
				@include forMobile() {
					font-size: rem(16px);
					line-height: rem(16px);
					padding: 15px;
				}
		
				&.active,
				&:hover {
					background-color: rgba(245, 242, 237, 0.5);
				}
			}
		}
	}
	
	&.error {
		color: $theme-color-2;
		font-size: 1rem;
		line-height: 1rem;
		margin-top: 5px;
	}
	.no-reults-found {
		display: flex;
    color: #002c3d;
    padding: 8px 20px;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Montserrat;
	}
}
