.#{$scss-prefix} {
	&.cap-search-dropdown{
		position: relative;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
	
		@include forMobile() {
			width: 100%;
		}
	
		.select-container {
			display: flex;
			align-items: center;
			border-radius: 6px;
			padding:  0 $spacing6;
			box-shadow: 0 0 0 1px $secondary-color-3, 0 4px 11px 0 rgba(0, 0, 0, 0.08);
	
			&:focus-within {
				box-shadow: 0 0 0 2px $primary-color-2, 0 4px 7px 0 rgba(0, 148, 205, 0.2),
					0 17px 47px 0 rgba(0, 0, 0, 0.15);
	
				}
				.icon {
					color: $primary-color-2 !important;
					font-size: 16px !important;
					line-height: 16px !important;
				}
			&.large {
				height: 60px;
			}
			&.medium {
				height: 50px;
			}
			&.small {
				height: 40px;
			}
			&.rounded {
				border-radius: 30px;
			}
	
			.input {
				width: 100%;
				height: auto;
				z-index: 1000;
				border: none;
				background-color: transparent;
				height: 100%;
				font-size: 1.125rem;
				color: $primary-color-4;
        font-weight: 700;
				&::placeholder {
					color: $secondary-color-4;
					font-weight: 500;
				}
	
				&:focus {
					outline: none;
				}
			}
		}
	
		&.error {
			.input {
				box-shadow: 0 0 0 1px $theme-color-2 !important;
	
				@include forMobile() {
					box-shadow: none !important;
					border: 1px solid $theme-color-2 !important;
				}
			}
		}
		ul {
			all: unset;
			display: flex;
			flex-direction: column;
			background-color: $secondary-color-1;
			position: absolute;
			left: 0;
			border-radius: 6px;
			margin-top: 3px;
			border: 2px solid $primary-color-2;
      background-color: $secondary-color-1;
      width: calc(100% - 4px);
      margin-bottom: $spacing4;
      background-color: $secondary-color-1 !important;
      z-index: 1005;
      box-shadow: 0 2px 5px 0 rgba($primary-color-2, 0.2), 0 15px 45px 0 rgba($darkest-color, 0.15);
		
			li {
				all: unset;
				padding: $spacing6;
				color: $primary-color-4;
				font-size: rem(18px);
				line-height: rem(20px);
				font-weight: normal;
				cursor: pointer;
				&.option {
          color: $darkest-color;
          background-color: rgba($secondary-color-2, 0.5);
        }
		
				@include forMobile() {
					font-size: rem(15px);
					line-height: rem(15px);
					padding: 15px;
				}
		
				&:hover {
					background-color: rgba(245, 242, 237, 0.5);
				}
		
				&:nth-child(1) {
					margin-top: 8px;
				}
			}
		}
	}
	
	&.error {
		color: $theme-color-2;
		font-size: 1rem;
		line-height: 1rem;
		margin-top: 5px;
	}
}
