.#{$scss-prefix} {
  &.cap-select {
    position: relative;
    font-family: $secondary-fontfamily;
    font-weight: 300;
  
    button {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $secondary-color-3;
      box-shadow: 0 3px 10px 0 rgba($darkest-color, 0.08);
      border-radius: 6px;
      white-space: nowrap;
      cursor: pointer;
      position: relative;
      background-color: $secondary-color-1;
      padding: 0 $spacing6;
      box-sizing: border-box;
      height: 60px;
      &:focus-visible {
        outline: none;
      }
      @include forMobile() {
        padding: $spacing5 $spacing6 16px $spacing6;
      }
  
      .label {
        display: none;
  
        @include forMobile() {
          display: initial;
          position: absolute;
          font-size: 12px;
          line-height: 12px;
          top: 14px;
          left: $spacing6;
          z-index: 1;
          width: max-content;
          margin-bottom: 5px;
          color: $secondary-color-4;
        }
      }
  
      .text {
        color: $secondary-color-4;
        font-size: $font-size-10;
        line-height: $line-height-11;
        font-family: $secondary-fontfamily;
        &.chosen {
          color: $primary-color-4;
          font-weight: 700;
        }
  
        @include forMobile() {
          font-size: 15px;
          line-height: 15px;
          margin-top: -6px;
          padding-bottom: 6px;
  
          &.chosen {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
  
      .icon {
        color: $primary-color-2 !important;
        
        @include forMobile() {
          margin-top: -12px;
        }
      }
    }
  
    ul {
      all: unset;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $primary-color-2;
      background-color: $secondary-color-1;
      width: calc(100% - 4px);
      border-radius: 6px;
      margin-bottom: $spacing4;
      background-color: $secondary-color-1 !important;
      z-index: 1005;
      box-shadow: 0 2px 5px 0 rgba($primary-color-2, 0.2), 0 15px 45px 0 rgba($darkest-color, 0.15);
  
      @include forMobile() {
        border: 1px solid $primary-color-2;
        width: calc(100% - 2px);
      }
  
      li {
        all: unset;
        padding: 19px $spacing6;
        color: $primary-color-4;
        font-size: 18px;
        line-height: 20px;
        font-weight: normal;
        cursor: pointer;
  
        &.selected {
          color: $darkest-color;
          background-color: rgba($secondary-color-2, 0.5);
          font-weight: $font-bold;
        }
  
        @include forMobile() {
          font-size: 15px;
          line-height: 15px;
          padding: 15px $spacing6;
        }
  
        &.active,
        &:hover {
          background-color: rgba($secondary-color-2, 0.5);
        }
  
        &:nth-child(1) {
          cursor: auto;
          color: $secondary-color-4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 6px;
          font-weight: normal;
          padding: 0 19px;
          height: 60px;
          @include forMobile() {
            border: 1px solid transparent;
          }
          span {
            margin-top: -3px;
          }
          .icon {
            margin-top: -3px;
            color: $primary-color-2 !important;
            cursor: pointer;
          }
  
          &:hover {
            background-color: $secondary-color-1;
          }
        }
      }
    }
  }
}