.#{$scss-prefix} {
	&.cap-seprator {
		grid-column: span 12;
    height: 6px;
    background-color: rgba($secondary-color-1, 0.1);
    position: relative;
		margin-bottom: 20px;
		&::before {
			content: "";
			width: 24px;
			height: 6px;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}