.#{$scss-prefix} {
  &.cap-slider {
    position: relative;
  
    .cap-panel-slider {
      grid-column: 1/-1;
      overflow-x: hidden;
      scroll-behavior: smooth;
      display: flex;
      gap: $spacing5;
      padding-bottom: 3rem;
      scroll-snap-type: x mandatory;
      background-color: transparent;
      scroll-padding: $spacing5 - 1;
      margin-left: -30px;
      width: calc(100% + 60px);
  
      &::before {
        content: "";
        border-right: $spacing5 solid transparent;
      }
  
      &::after {
        content: "";
        border-right: 1px solid transparent;
      }
  
      .panel {
        flex: calc(25% - 37px) 1 0 ;
        min-height: 240px ;
        min-width: 330px ;
        width: auto ;
        background: $secondary-color-1 ;
        border: 2px solid transparent ;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08) ;
        border-radius: 6px ;
        color: $darkest-color ;
        cursor: pointer ;
        opacity: 1 ;
        transition: all 0.3s ease-in-out ;
        scroll-snap-align: start;
        &:hover {
          border: 2px solid $primary-color-2 ;
          box-shadow: 0 2px 5px 0 rgba(0, 148, 205, 0.2),
            0 15px 45px 0 rgba(0, 0, 0, 0.15) ;

          .footer {
            .footer-icon {
              color: $primary-color-2 ;
            }
          }
        }

        .card-body {
          padding: 40px 30px;

          .slider-title {
          color: $primary-color-2;
          }

          .slider-description {
            margin-top: 0.6rem;
            max-height: 70px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        .footer {
          .footer-icon {
            color: $secondary-color-4;
            margin-bottom: $spacing7;
            margin-right: $spacing7;
          }
        }

        @media (max-width: 1900px) {
          flex: calc(33% - 35px) 1 0 ;
        }
      }
    }
  
    .navigation-btn {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      color: $primary-color-2 !important;
      border: 1px solid $secondary-color-4 !important;
      background-color: $secondary-color-1 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:hover {
        border: 2px solid $primary-color-2 !important;
      }

      .navigation-icon {
        stroke-width: 3px;
      }
    }
    .navigation-btn[disabled] {
      opacity: 1;
      border: none !important;
      color: $secondary-color-3 !important;
      box-shadow: 0 0 0 1px $secondary-color-3 !important;
      transition: all 0.3s ease-in-out;
      cursor: not-allowed;

      &:hover {
        border: none !important;
      }
    }
    .left {
      position: absolute;
      top: calc(50% - 20px);
      left: -5rem;
      transform: translate(0, -50%);
      z-index: 1;
    }
  
    .right {
      position: absolute;
      top: calc(50% - 20px);
      right: -5rem;
      transform: translate(0, -50%);
      z-index: 1;
    }
  
    @media (max-width: 1300px) {
      margin: 0;
  
      .cap-panel-slider {
        width: 100%;
        margin-left: 0;
        scroll-padding: $spacing6;
        pointer-events: auto;
        overflow-x: auto;
  
        &::before {
          content: "";
          border-right: $spacing6 solid transparent;
        }
        &::after {
          content: "";
          border-left: $spacing6 solid transparent;
        }
      }
  
      .navigation-btn {
        display: none;
      }
  
      &::before,
      &::after {
        all: unset;
      }
    }
  
    @include forMobile() {
      .cap-panel-slider {
        padding-bottom: $spacing5;
        gap: 0;
  
        .panel {
          flex-shrink: 0;
          margin-right: $spacing6;
        }
      }
    }
  }
}
