.#{$scss-prefix} {
  &.cap-tabs {
    ul {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: $secondary-color-7;
      padding-left: 0px;
      margin: 0px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: $spacing7;
        &:hover,
        &.is-active {
          background-color: $secondary-color-3;
        }
      }
    }
  }
}