.#{$scss-prefix} {
  &.cap-text-wrapper {
    font-family: $secondary-fontfamily;
    color: $darkest-color;

    &.capitalize {
      text-transform: capitalize;
    }
    &.lowercase {
      text-transform: lowercase;
    }
    &.uppercase {
      text-transform: uppercase;
    }
    &.thin {
      font-weight: $font-thin;
    }
    &.normal {
      font-weight: $font-normal;
    }
    &.medium {
      font-weight: $font-medium;
    }
    &.bold {
      font-weight: $font-bold;
    }
  }
  &.cap-text-1{
    font-size: $font-size-1;
    line-height: $line-height-1;
    font-family: $base-fontfamily;
  }
  &.cap-text-2 {
    font-size: $font-size-3;
    line-height: $line-height-3;
    font-family: $base-fontfamily;
  }
  &.cap-text-3 {
    font-size: $font-size-8;
    line-height: $line-height-6;
    letter-spacing: 0;
  }
  &.cap-text-4 {
    font-size: $font-size-8;
    line-height: $line-height-7;
  }
  &.cap-text-5 {
    font-size: $font-size-9;
    line-height: $line-height-7;
  }
  &.cap-text-6 {
    font-size: $font-size-9;
    line-height: $line-height-8;
  }
  &.cap-text-7 {
    font-size: $font-size-10;
    line-height: $line-height-9;
  }
  &.cap-text-8{
    font-size: $font-size-11;
    line-height: $line-height-10;
  }
  &.cap-text-9 {
    font-size: $font-size-12;
    line-height: $line-height-11;
  }
  &.cap-text-10 {
    font-size: $font-size-13;
    list-style: $line-height-12;
  }
  &.cap-text-11 {
    font-size: $font-size-13;
    line-height: $line-height-13;
  }
  &.cap-text-12 {
    font-size: $font-size-14;
    line-height: $line-height-13;
  }
}