.#{$scss-prefix} {
  &.cap-text-wrapper {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: $darkest-color;
  }
  &.cap-text-1{
    font-weight: 100;
    font-size: $font-size-1;
    line-height: $line-height-1;
  }
  &.cap-text-2 {
    font-weight: 100;
    font-size: $font-size-3;
    line-height: $line-height-3;
  }
  &.cap-text-3 {
    font-size: $font-size-8;
    line-height: $line-height-6;
    letter-spacing: 0;
  }
  &.cap-text-4 {
    font-size: $font-size-9;
    line-height: $line-height-7;
  }
  &.cap-text-5 {
    font-size: $font-size-9;
    line-height: $line-height-8;
  }
  &.cap-text-6 {
    font-size: $font-size-10;
    line-height: $line-height-9;
  }
  &.capitalize {
    text-transform: capitalize;
  }
  &.lowercase {
    text-transform: lowercase;
  }
  &.uppercase {
    text-transform: uppercase;
  }
}