@import './_variables';

.#{$scss-prefix} {
  &.cap-heading-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: $darkest-color;
  }
  
  &.cap-heading-1{
    font-size: 72px;
    line-height: 72px;
  }
  &.cap-heading-2{
    font-size: 52px;
    line-height: 56px;
  }
  &.cap-heading-3{
    font-size: 42px;
    line-height: 48px;
  }
  &.cap-heading-4 {
    font-size: 32px;
    line-height: 36px;
  }
  &.cap-heading-5 {
    font-size: 28px;
    line-height: 32px;
  }
  &.cap-heading-6{
    font-size: 24px;
    line-height: 32px;
  }
  &.cap-heading-7{
    font-size: 20px;
    line-height: 28px;
  }
  &.cap-heading-8 {
    font-size: 18px;
    line-height: 24px;
  }
  &.subcap-heading-1{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
  &.subcap-heading-2{
    text-transform: uppercase;
    font-size: 12px;
    line-height:16px;
  }
  &.subcap-heading-3{
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
  }
}
