@mixin headingCommonStyles {
  font-family: $base-fontfamily;
  color: $darkest-color;
  margin-top: 0;
  margin-bottom: 8px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headingCommonStyles()
}
.#{$scss-prefix} {
  &.cap-title {
    font-family: $base-fontfamily;
    color: $darkest-color;
  }
  @at-root h1#{&},
  &.h1,
  &.cap-heading-1{
    font-size: $font-size-h1;
    line-height: $line-height-h1;
    &.small {
      font-size: $font-size-h1-small;
      line-height: $line-height-h1-small;
    }
  }
  @at-root h2#{&},
  &.h2,
  &.cap-heading-2{
    font-size: $font-size-h2;
    line-height: $line-height-h2;
    &.small {
      font-size: $font-size-h2-small;
      line-height: $line-height-h2-small;
    }
  }
  @at-root h3#{&},
  &.h3,
  &.cap-heading-3 {
    font-size: $font-size-h3;
    line-height: $line-height-h3;
    &.small {
      font-size: $font-size-h3-small;
      line-height: $line-height-h3-small;
    }
  }
  @at-root h4#{&},
  &.h4,
  &.cap-heading-4 {
    font-size: $font-size-h4;
    line-height: $line-height-h4;
    &.small {
      font-size: $font-size-h4-small;
      line-height: $line-height-h4-small;
    }
  }
  @at-root h5#{&},
  &.h5,
  &.cap-heading-5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    &.small {
      font-size: $font-size-h5-small;
      line-height: $line-height-h5-small;
    }
  }
  @at-root h6#{&},
  &.h6,
  &.cap-subheading-1,
  &.cap-heading-6 {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
    &.small {
      font-size: $font-size-h6-small;
      line-height: $line-height-h6-small;
    }
  }
  &.h7,
  &.cap-subheading-2,
  &.cap-heading-7 {
    font-size: $font-size-h7;
    line-height: $line-height-h7;
    &.small {
      font-size: $font-size-h7-small;
      line-height: $line-height-h7-small;
    }
  }
  &.cap-subheading-1 {
    letter-spacing: $letter-spacing-1;
  }
  &.cap-subheading-2 {
    letter-spacing: $letter-spacing-2;
  }
  @include forMobile() {
    @at-root h1#{&},
    &.h1,
    &.cap-heading-1{
      font-size: $font-size-h1-small;
      line-height: $line-height-h1-small;
    }
    @at-root h2#{&},
    &.h2,
    &.cap-heading-2{
      font-size: $font-size-h2-small;
      line-height: $line-height-h2-small;
    }
    @at-root h3#{&},
    &.h3,
    &.cap-heading-3 {
      font-size: $font-size-h3-small;
      line-height: $line-height-h3-small;
    }
    @at-root h4#{&},
    &.h4,
    &.cap-heading-4 {
      font-size: $font-size-h4-small;
      line-height: $line-height-h4-small;
    }
    @at-root h5#{&},
    &.h5,
    &.cap-heading-5 {
      font-size: $font-size-h5-small;
      line-height: $line-height-h5-small;
    }
    @at-root h6#{&},
    &.h6,
    &.cap-subheading-1,
    &.cap-heading-6 {
      font-size: $font-size-h6-small;
      line-height: $line-height-h6-small;
    }
    &.h7,
    &.cap-subheading-2,
    &.cap-heading-7 {
      font-size: $font-size-h7-small;
      line-height: $line-height-h7-small;
    } 
  }
}