@import './font.scss';
$primary: blue;
$secondary: #000000;
$dark-blue: #002C3D;
$yellow: #FFBB16;
$capwell-blue: #0094CD;
$c-blue-alt: #0076A4;
$black: #000000;
$off-black: #4C4C4C;
$dark-bronze: #ABA195;
$medium-bronze: #E1DDD0;
$light-bronze: #F5F2ED;
$white: #FFFFFF;
$primary-light:#47B4D0;
$ml-1: 5px;
$ml-2: 10px;
$spacing1: 120px;
$spacing2: 80px;
$spacing3: 60px;
$spacing4: 40px;
$spacing5: 30px;
$spacing6: 20px;
$spacing7: 10px;
$p-1: 5px;
$p-2: 10px;
$p-3: 15px;
$p-4: 20px;
