@import './variables';

.cap-dropdown{
  position: relative;
  .cap-dropdown-trigger {
    height: 40px;
    width: 150px;
    background: $primary-light;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    color: $white;
  }
  .cap-dropdown-content {
    position: absolute;
    background: $white;
    border-radius: 8px;
    top: 42px;
    z-index: 5;
    min-width: 200px;
    border: 1px solid $primary-light;
    background-color: $white;
    overflow: hidden;


   ul {
    margin: 0;
    list-style: none;
    padding-left: 0;


    li {
      padding: 5px 1rem;
      cursor: pointer;

      &:hover {
        background-color: $light-bronze;
      }
    }
   }
  }
}