@import './variables';

.cap-footer-item {
	display: flex;
	align-items: center;
	margin: $p-2 0;
	font-family: 'Mulish', sans-serif;
	font-weight: 500;

	.link {
		color: $white;
		margin-left: $p-1;
		font-size: 1rem;
		&:hover {
			text-decoration: none;
			color: $medium-bronze;
		}
	}
}
